.App {
  text-align: center;
}

body{
 margin: 1em 2em;
}

.container {
display: flex;
flex-direction: row;
}

img{
  width: 150px;
  height: 150px;
}

.borralodespues{
  border: 1px solid red;
}
@media (max-width: 48em) {
  .container {
    display: flex;
    flex-direction: column;
    }
}

